html, body, * {
  font-family: 'Roboto', sans-serif;
}
body {
  background: #f8f8f8;
}
canvas {
  image-rendering: pixelated;
}
.container {
  background: #fff;
}
.nowrap {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}
.clear {
  clear: both;
}
.mw-100 {
  max-width: 100%;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.btn-xs {
  --bs-btn-padding-y: 0.05rem;
  --bs-btn-padding-x: 0.65rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.95rem;
}
ul.nav {
  width: 100%;
  background: #5e7d00;
  border-bottom: 10px solid #eca13d;
}
ul.nav li {
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
  color: #fff;
}
ul.nav li.active {
  background: #eca13d;
  
}
ul.nav li a {
  text-decoration: none;
  color: #fff;
}
ul.nav li a:hover {
  color: #fff;
  text-decoration: underline;
}
.checkbox-accordion {
  background: #f8f8f8;
  box-shadow: none;
  border-radius: 8px;
  min-height: 50px;
  padding: 20px;
  position: relative;
}
.checkbox-accordion::after {
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 26px;
  pointer-events: none;
}
.checkbox-accordion .accordion-card {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  padding-right: 20px;
  padding-bottom: 20px;
  text-transform:uppercase;
}
input[type=checkbox].accordion {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}
input[type=checkbox].accordion ~ .accordion-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
input[type=checkbox]:checked.accordion ~ .accordion-content {
  max-height: 1700px;
  transition: max-height 1s ease-in-out;
}

.btn-search {
  text-align: right;
}

.spacer-30 {
  clear: both;
  margin-top: 30px;
}

.spacer-65 {
  margin-top: 65px;
}


.profile-card {
  background: #fff;
  margin-right: 5px;
  padding: 10px;
  line-height: 20px;
  border-radius: 10px;
  box-shadow: 3px 4px 5px 0px rgba(187,187,187,0.35);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(187,187,187,0.35);
  -moz-box-shadow: 3px 4px 5px 0px rgba(187,187,187,0.35);

}

.profile-card .profile-image {
  float: left;
  display: inline;
  margin: 0 10px 10px 0;
  pointer-events: none;
}

.profile-card .profile-image img {
  border: 3px solid #fff;
  outline: 1px solid #bbb;
}

.profile-card .profile-name {
  font-size: 14px;
}

.profile-card .position {
  font-size: .775em;
}

.profile-card .contact-group {
  line-height: 22px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-card .btn-vcard-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.unit-list ul {
  padding: 0;
  margin: 0;
}

.unit-list ul li {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.unit-list ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.unit-list ul li a:before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
}

nav {
  text-align: center;
  margin: 0px auto 50px auto;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

nav .pagination {
  margin-bottom: 0;
}

nav .pagination li .page-link {
  color: #000;
} 

nav .pagination li.active .page-link {
  background-color: #eca13d;
  border-color: #ccc;
  color: #fff;
}

.em {
  pointer-events: none;
}

.em:not(:empty)::after {
  content: '@mpob.gov.my';
}

.em > img {
  height: 20px;
}

canvas#email {
  display: none;
  pointer-events: none;
}

.language-changer {
  float: right;
  background-color: #f1f1f1;
  padding: 5px 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.language-changer a {
  text-decoration: none;
  color: #000;
  outline: 0;
  display: inline-block;
}

.language-changer a::before {
  content: "";
  height: 12px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  background-image: url('https://cdn.jsdelivr.net/gh/mpob-it/mpob-assets@v1.3.11/staffdirectory/img/lang.png');
}

.language-changer a.lang-en::before {
  background-position: 22px 0%;
}

.language-changer a.lang-ms::before {
  background-position: 0 0%;
}

.back-link {
  margin-right: 20px;
  padding: 2px 10px;
}

.back-link:before {
    content: "\2039";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-rendering: auto;
    line-height: 1;
    margin-right: 5px;
    font-size: 22px;
}

.footer {
  text-align: center;
}

.footer .disclaimer {
  background-color: #4b4b4b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}

.footer .disclaimer .disclaimer-link {
  margin-bottom: 20px;
}

.footer .best-viewed {
  font-size: 12px;
  color: #fff;
  background-color: #333333;
  padding: 20px;
  text-align: left;
}

.footer a, .footer a:visited, .footer a:hover {
  text-decoration: none;
  color: #fff;
}

/* Fontawesome */
.fas {
  font-style: normal;
}

.fa-address-card::after {
  content: "\f2bb";
}

.fa-phone-alt::after {
  content: "\f879";
}

.fa-envelope::after {
  content: "\f0e0";
}

.fa-globe::after {
  content: "\f0ac";
}

.fa-mobile-alt::after {
  content: "\f3cd";
}


/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
 
.logo-gov {
  max-width: 100%;
  background-size: 100%;
  background-image: url('https://cdn.jsdelivr.net/gh/mpob-it/mpob-assets@v1.3.11/staffdirectory/img/logo-gov-min.png');
}
 
.logo-impac { background-position: 0 0%; background-size: 100%; }
.logo-bi-small { background-position: 0 9.090909%; background-size: 100%; }
.logo-ksb { background-position: 0 19.269103%; background-size: 100%; }
.logo-lgm { background-position: 0 28.239203%; background-size: 100%; }
.logo-lkm { background-position: 0 37.209302%; background-size: 100%; }
.logo-ltn { background-position: 0 46.179402%; background-size: 100%; }
.logo-mg { background-position: 0 55.149502%; background-size: 100%; }
.logo-mpb { background-position: 0 64.119601%; background-size: 100%; }
.logo-mpoc { background-position: 0 73.089701%; background-size: 100%; }
.logo-mpocc { background-position: 0 82.059801%; background-size: 100%; }
.logo-msc { background-position: 0 91.0299%; background-size: 100%; }
.logo-mtib { background-position: 0 100%; background-size: 100%; }

.up-modal-content {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.up-modal-backdrop {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(90,90,90,0.7);
}

.up-modal-close {
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  right: -50px;
}

/* Vcard */

.vcard {
  perspective: 150rem;
  height: 20.3rem;
  width: 33.4rem;
  position: relative;
}
.vcard__side {
  height: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.vcard__side--front {
  background-color: #fff;
}
.vcard__cont {
  padding: 14px 21px;
  background-color: #fff;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.vcard__cont .vcard-fr-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vcard-logo-front {
  margin-right: 20px;
  height: 65px;
}
.vcard-mpob-name-en {
  line-height: 25px;
  color: #198754;
  font-size: 25px;
}
.vcard-mpob-name-en > small {
  font-size: 10px;
  margin-top: -4px;
  display: block;
}
.vcard-mpob-name-ms {
  display: block;
  font-size: 18px;
  color: #000;
  font-style: italic;
}
.vcard-qr {
  margin-left: 20px;
}
.vcard-profile-image > img {
  width: auto;
  height: 135px;
  border-radius: 5px;
}
.vcard-fr-body {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.vcard-profile-detail {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vcard-profile-name {
  color: #198754;
}
.vcard-position-en {
  font-size: 15px;
}
.vcard-position-ms {
  font-style: italic;
}
.vcard-fr-footer {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 16px;
}
.vcard-fr-footer > div > span {
  display: block;
  color: #198754;
}
.vcard-comp-addr {
  line-height: 10px;
  background-color: #c8e1c6;
  color: #198754;
  padding: 20px 0 10px 0;
  font-size: 18px;
}

.vcard-capturing > div {
  transform: none !important;
}